.container {
    padding: 10px;
}

.bg-default {
    background-color: $colorGreyLight;
}

.bg-danger {
    background-color: $colorDanger;
}

.bg-success {
    background-color: $colorSuccess;
}

.bg-warning {
    background-color: $colorWarning;
}

.bg-info {
    background-color: $colorInfo;
}

.bg-info-dark {
    background-color: $colorInfoDark;
}

.color-white {
    color: $colorWhite;
}

.color-default {
    color: $colorGreyLight;
}

.color-danger {
    color: $colorDanger;
}

.color-success {
    color: $colorSuccess;
}

.color-warning {
    color: $colorWarning;
}

.color-info {
    color: $colorInfo;
}

.color-info-dark {
    color: $colorInfoDark;
}
