$colorSuccess: green;
$colorWarning: orange;
$colorDanger: darkred;
$colorInfo: skyblue;
$colorInfoDark: cornflowerblue;
$colorPurple: #B12FB0;
$colorGreyLighter: #F7F7F7;
$colorGreyLight: #D6D6D6;
$colorGrey: #B6B6B6;
$colorGreyDark: #6F6F6F;
$colorBlack: #000;
$colorWhite: #FFF;
